:root {
  --red: var(--pico-color-red-450);
  --yellow: var(--pico-color-yellow-100);
  --orange: var(--pico-color-pumpkin);
  --lime: var(--pico-color-lime-200);
  --fuchsia: var(--pico-color-fuchsia-500);
}

@media (min-width: 1024px) {
  :root {
    --pico-font-size: 118.75%;
  }
}

@media (min-width: 1280px) {
  :root {
    --pico-font-size: 125%;
  }
}

html {
  scroll-behavior: smooth;
}

strong,
.green {
  color: var(--lime);
}

.pink {
  color: var(--pink);
}

.yellow {
  color: var(--yellow);
}

.orange {
  color: var(--orange);
}

.red {
  color: var(--red);
}

.icon-h1 {
  height: 2rem;
  width: 2rem;
  line-height: 1.125;
  vertical-align: top;
  color: inherit;
}

.icon-h2 {
  height: 1.75rem;
  width: 1.75rem;
  line-height: 1.15;
  vertical-align: top;
  color: inherit;
}

.icon-small {
  height: 0.875em;
  width: 0.875em;
  vertical-align: baseline;
  color: inherit;
}

.box {
  background-color: var(--pico-code-background-color);
  border-radius: var(--pico-border-radius);
  padding: 2rem;
}

main > div[id] > h1 {
  color: var(--orange);
}

details {
  width: 70%;
  summary {
    font-weight: bold;
    text-transform: capitalize;
  }

  div.content {
    width: 95%;
    padding: 1rem;
    text-align: justify;
  }
}

article {
  all: revert;
  margin: auto;

  @media (min-width: 768px) {
    width: 90%;
  }

  @media (min-width: 1024px) {
    width: 80%;
  }

  @media (min-width: 1280px) {
    width: 70%;
  }

  @media (min-width: 1536px) {
    width: 60%;
  }

  section {
    margin-bottom: 2rem;
  }

  &.system-design {
    @media (min-width: 768px) {
      width: 90%;
    }

    @media (min-width: 1024px) {
      width: 80%;
    }

    @media (min-width: 1280px) {
      width: 80%;
    }

    @media (min-width: 1536px) {
      width: 80%;
    }
  }

  &.essay {
    section {
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: var(--orange);
      }
    }

    section#toc ul {
      margin-inline-start: 0;
      padding-inline-start: 0;

      li {
        list-style-type: none;
        margin-left: 0;
        padding-left: 0;

        &.h2 {
          margin-left: 0;
        }

        &.h3 {
          margin-left: 1rem;
        }

        &.h4 {
          margin-left: 2rem;
        }

        &.h5 {
          margin-left: 3rem;
        }

        &.h6 {
          margin-left: 4rem;
        }
      }
    }

    section#footnotes p {
      font-size: smaller;
    }
  }

  &.project {
    h2 {
      text-align: center;
      color: var(--lime);
    }

    section {
      h3,
      h4,
      h5,
      h6 {
        color: var(--orange);
      }
    }

    section#toc ul {
      margin-inline-start: 0;
      padding-inline-start: 0;

      li {
        list-style-type: none;
        margin-left: 0;
        padding-left: 0;

        &.h3 {
          margin-left: 0;
        }

        &.h4 {
          margin-left: 1rem;
        }

        &.h5 {
          margin-left: 2rem;
        }

        &.h6 {
          margin-left: 3rem;
        }
      }
    }
  }
}

.text-center {
  text-align: center;
}

div[role="group"] {
  margin-top: 1rem;
  flex-wrap: wrap;
}

q {
  &::after,
  &::before {
    content: '"';
  }
}
