:root {
  --pink: #ff00c8;
  --red: #ff0301;
  --yellow: #ffc800;
  --orange: #ff9500;
  --green: #95f01a;
  --green-neon: #00fb00;
}

.icon-h2 {
  height: 1.75rem;
  width: 1.75rem;
  vertical-align: top;
  color: inherit;
}

.icon-small {
  height: 0.875em;
  width: 0.875em;
  vertical-align: baseline;
  color: inherit;
}

strong,
.green {
  color: var(--green);
}

.pink {
  color: var(--pink);
}

.orange {
  color: var(--orange);
}

.red {
  color: var(--red);
}

.box {
  background-color: var(--pico-code-background-color);
  border-radius: var(--pico-border-radius);
  padding: 2rem;
}

details summary {
  font-weight: bold;
  text-decoration: underline;
  text-transform: capitalize;
}

details div.content {
  width: 70%;
  padding: 1rem;
  text-align: justify;
}

article {
  all: revert;

  width: 70%;
  margin: auto;
  text-align: justify;
}

article h3 {
  text-align: center;
  color: var(--green);
}

article section h4 {
  color: var(--orange);
}

.text-center {
  text-align: center;
}

div[role="group"] {
  margin-top: 1rem;
  flex-wrap: wrap;
}
