body {
  line-height: 1.7;
}

.tabs-grid-container {
  display: grid;
  grid-template-areas: "tabs content";
  grid-template-columns: 0.7fr 1.3fr;
}

.tabs-grid-container .tabs {
  grid-area: tabs;
}

.tabs-grid-container .content {
  grid-area: content;
}
