.tabs-grid-container {
  display: grid;
  grid-template-areas: "tabs content";
  grid-template-columns: 0.6fr 1.4fr;
}

.tabs-grid-container .tabs {
  grid-area: tabs;
}

.tabs-grid-container .content {
  grid-area: content;
}
