{
  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 80,
  "htmlWhitespaceSensitivity": "ignore",
  "bracketSameLine": true,
  "plugins": ["prettier-plugin-svelte"],
  "pluginSearchDirs": ["."],
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    }
  ]
}
