@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Emoji:wght@300..700&family=Noto+Sans+Symbols+2&display=swap");

@page {
  size: A4;
}

:root {
  --border-color: rgb(96, 108, 118);
  --border-color-opacity50: rgba(96, 108, 118, 0.5);
}

html {
  font-size: 0.62rem;
}

body {
  font-family: Nunito, Roboto, "Noto Emoji", sans-serif;
  letter-spacing: normal;
  line-height: 1.4;
}

figure {
  all: unset;
}

figure figcaption {
  font-weight: bold;
  font-size: large;
}

ul.hideMarkers {
  list-style-type: none;
}

li {
  margin-bottom: 0.2rem;
}

main div.border-top:not(:first-child) {
  border-top: 1px dashed var(--border-color-opacity50);
  padding-top: 0.5em;
  margin-top: 1em;
}

.box {
  border: 2px solid var(--border-color);
  padding: 1rem;
}

.box-title {
  font-size: x-large;
}

.box-content {
  margin-top: 1rem;
}

.box-content p {
  margin-bottom: 1rem;
}

.box-content p:last-child {
  margin-bottom: 0;
}

footer {
  font-size: xx-small;
  bottom: 0;
  position: sticky;
}
