@import url("https://fonts.googleapis.com/css2?family=Playpen+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@page {
  size: A4;
}

:root {
  --border: 2px solid rgb(96, 108, 118);
}

html {
  font-size: 0.52rem;
}

body {
  font-family: Roboto, sans-serif;
}

figure {
  all: unset;
}

figure figcaption {
  font-weight: bold;
  font-size: larger;
}

li {
  margin-bottom: 0;
}

li p {
  margin-bottom: 1rem;
  line-height: 1.2;
}

ul.hideMarkers {
  list-style-type: none;
}

header.header {
  border: var(--border);
  padding: 1rem;
  margin-bottom: 2rem;
}

header figure ul {
  margin-bottom: 0;
}

main ul {
  margin-bottom: 1rem;
  margin-inline-start: 3.2rem;
  list-style-position: outside;
  list-style-type: disc;
}

main div.border-top:not(:first-child) {
  border-top: var(--border);
  padding-top: 1rem;
  width: 95%;
}

main .iconWidthIndent {
  padding-left: 3.2rem;
  margin-bottom: 1rem;
}

footer {
  font-size: xx-small;
  font-family: "Playpen Sans", cursive;
  bottom: 0;
  position: sticky;
}
