@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Emoji:wght@300..700&family=Noto+Sans+Symbols+2&display=swap");

$border-color: rgb(96, 108, 118);
$border-color-opacity50: rgba(96, 108, 118, 0.5);

$color-initial: #fff !default;
$color-primary: #9b4dca !default;
$color-secondary: #606c76 !default;
$color-tertiary: #f4f5f6 !default;
$color-quaternary: #d1d1d1 !default;
$color-quinary: #e1e1e1 !default;

html {
  font-size: 62.5%;
}

body {
  color: $color-secondary;
  font-family: Nunito, "Roboto", "Noto Emoji", sans-serif;
  letter-spacing: 0.01em;
  line-height: 1.4;
  font-size: 1.5em;
  font-weight: 400;
}

main div.entry {
  margin-top: 1em;
  margin-bottom: 1rem;
  font-size: medium;

  &:first-of-type {
    margin-top: 0.5rem;
  }

  div.head {
    font-size: larger;
  }

  div.subhead {
    margin-top: 0.3em;
    margin-bottom: 0.5em;
  }
}

footer {
  font-size: xx-small;
  bottom: 0;
  position: sticky;
}

ul {
  list-style: square outside;
  margin-top: 0;
  padding-left: 0;

  li {
    margin-bottom: 0.2rem;
  }

  &.hideMarkers {
    list-style-type: none;
    margin-bottom: 3rem;

    li {
      margin-bottom: 0.5rem;
    }
  }
}

.box {
  border: 2px solid $border-color;
  padding: 1rem;

  .box-title {
    font-size: x-large;
    font-weight: bold;
  }

  .box-content {
    margin-top: 1rem;

    p {
      margin-bottom: 1rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

h1,
h2,
h3 {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  font-size: xx-large;
}

h2 {
  font-size: x-large;
}

h3 {
  font-size: large;
}

p {
  margin-top: 0;
}

a {
  color: $color-primary;
  text-decoration: none;

  &:focus,
  &:hover {
    color: $color-secondary;
  }
}
